@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
  --very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--very-light-gray-background-headings-buttons);
  font-family: 'Lexend Deca', sans-serif;
  margin: 0;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Card */

.card {
  max-width: 300px;
  width: 100%;
}

.card h1 {
  color: var(--very-light-gray-background-headings-buttons);
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.card p {
  color: var(--transparent-white-paragraphs);
  font-size: 15px;
  line-height: 1.75;
}

.card__container {
  padding: 2.25rem;
}

.card__sedan {
  background-color: var(--bright-orange);
  border-radius: 10px 10px 0 0;
}

.card__suv {
  background-color: var(--dark-cyan);
}

.card__luxury {
  background-color: var(--very-dark-cyan);
  border-radius: 0 0 10px 10px;
}

/* Button */

.btn {
  background-color: var(--very-light-gray-background-headings-buttons);
  border-radius: 25px;
  border: none;
  font-size: 1rem;
  margin: 1rem 0;
  padding: 1rem;
  width: 150px;
}

.btn__sedan {
  color: var(--bright-orange);
}

.btn__suv {
  color: var(--dark-cyan);
}

.btn__luxury {
  color: var(--very-dark-cyan);
}

/* Footer */

.attribution {
  font-size: 11px;
  margin-top: 1rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1440px) {
  body {
    height: 100vh;
    justify-content: center;
  }

  /* Card */

  .card {
    display: flex;
    height: 100%;
    max-height: 500px;
    max-width: 900px;
    width: 100%;
  }

  .card__container {
    padding: 3rem;
    width: 300px;
  }

  .card__sedan {
    border-radius: 10px 0 0 10px;
  }

  .card__luxury {
    border-radius: 0 10px 10px 0;
  }

  .card__sedan p {
    width: 22ch;
  }

  .card__suv p {
    width: 23ch;
  }

  .card__luxury p {
    height: 130px;
    width: 23ch;
  }

  /* Button */

  .btn {
    margin-top: 4rem;
  }

  .btn:hover {
    background-color: transparent;
    border: 2px solid var(--very-light-gray-background-headings-buttons);
    color: var(--transparent-white-paragraphs);
    cursor: pointer;
  }
}
